/**
 * Purpose: This css sheet creates the fundamental designs for several elements used throughout the program.
 * Source: https://www.youtube.com/results?search_query=javafx+grid
 */


/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text_field_standard {
	-fx-border-radius: 0; -fx-border-color: white; -fx-border-width: 3; -fx-background-color: black; -fx-font: 21.0px "Lao UI"; -fx-prompt-text-fill: white; -fx-color: white;
}

.call_to_action {
	-fx-color: #d0cece; -fx-font: 32.0px "Lao UI";-fx-text-fill:  #d0cece;
}

.button {
	-fx-border-radius: 0; -fx-border-color: black; -fx-border-width: 2; -fx-background-color: #FF0000; -fx-color: black; -fx-font: 21.0px "Lao UI"; -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button_header {
	-fx-border-radius: 0; -fx-border-color: black; -fx-border-width: 2; -fx-background-color: #7E7878; -fx-color: black; -fx-font: 14.0px "Lao UI"; -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button_header_logout {
	-fx-border-radius: 0; -fx-border-color: black; -fx-border-width: 2; -fx-background-color: #3D3939; -fx-color: black; -fx-font: 14.0px "Lao UI"; -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover{
	-fx-background-color: #d50000;
}

.button_header:hover{
	-fx-background-color: #d50000;
}

.button_header_logout:hover{
	-fx-background-color: #d50000;
}

.root {
	-fx-background-color: black; -fx-pref-height: 800px; -fx-pref-width: 1400px;
	
}

.alert {
    
	-fx-background-color:black;    
}

.table-view {
    -fx-base: #3D3939;
    -fx-control-inner-background: #3D3939;
    -fx-background-color: #3D3939;
    -fx-padding: 5;
}

.table-view .column-header .label {
    -fx-font-size: 21px;
    -fx-font-family: "Lao UI";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 21;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}


.heading_listview {
	-fx-color: #d0cece; -fx-font: 20.0px "Lao UI";-fx-text-fill: white; -fx-text-overrun: clip;
}

.genre_listview {
	-fx-color: #d0cece; -fx-font: 20.0px "Lao UI";-fx-text-fill: white;
}

.button_listview {
	-fx-border-radius: 0; -fx-border-color: black; -fx-border-width: 2; -fx-background-color: #FF0000; -fx-color: black; -fx-font: 12.0px "Lao UI"; -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.call_to_action_success {
	-fx-color: #82d024; -fx-font: 20.0px "Lao UI";-fx-text-fill: #82d024; -fx-background-color: black;
}

.call_to_action_error {
	-fx-color: #ea4315; -fx-font: 20.0px "Lao UI";-fx-text-fill: #ea4315; -fx-background-color: black;
}

.chart-pie {
     -fx-pie-label-visible: true; -fx-background-color: black; -fx-color: black;
}

.data0.chart-pie {
	-fx-background-color: #cdcdcd;
}

.data1.chart-pie {
	-fx-background-color: #717171;
}

.chart-area-symbol{-fx-background-radius: 0;}
.chart-legend { -fx-background-color: black; }

.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 12px;
} 

.chart-pie-title {
    -fx-fill: white;
    -fx-font-size: 16px; -fx-font-style: bold;
} 

